
#wrapper{
    background-color:rgb(238,239,241);
}
#container{
    width: 94%;
    margin: auto 3%;
}
#main,#aside{
    display:inline-block;
    float: left;
}
#main{
    width:66%;
    position: relative;
 }
#grow-line{
    /*margin-bottom:1em;*/
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 10px;
    background-color: white;
    box-shadow:5px 5px 5px rgb(221,221,221);
}
#time-line{
    width:95%;
    height:5px;
    background: #e31e3a;
    animation: time_a 8s;
    -moz-animation: time_a 8s;
    -webkit-animation: time_a 8s;
    -o-animation: time_a 8s;
}
@keyframes time_a{
    0% {
        width:2%;
    }
    25% {
        width:23%;
    }
    60% {
        width:43%;
    }
    80%{
        width:65%;
    }
    100% {
        width: 80%;
    }
}
@-moz-keyframes time_a/* Firefox */{
    0% {
        width:2%;
    }
    25% {
        width:23%;
    }
    60% {
        width:43%;
    }
    80%{
        width:65%;
    }
    100% {
        width: 80%;
    }
}
@-webkit-keyframes time_a/* Safari and Chrome */ {
    0% {
        width:2%;
    }
    25% {
        width:23%;
    }
    60% {
        width:43%;
    }
    80%{
        width:65%;
    }
    100% {
        width: 80%;
    }
}
@-o-keyframes time_a/* Opera */ {
    0% {
        width:2%;
    }
    25% {
        width:23%;
    }
    60% {
        width:43%;
    }
    80%{
        width:65%;
    }
    100% {
        width: 80%;
    }
}
#main #time-detail ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left:-27px;
    background: #f8e0d3;
    border: 3px solid #a73c3c; }
#main #time-detail{
    height: 100px;
}
#main #time-detail ul li:hover::before {
    background: #fe7008;
}
#main #time-detail ul .li_1{position:absolute;left:4%; top:150px}
#main #time-detail ul .li_2{position:absolute;left:25%; top:150px}
#main #time-detail ul .li_3{position:absolute;left:45%;top:150px}
#main #time-detail ul .li_4{position:absolute;left:67%;top:150px}
#main #time-detail ul .li_5{position:absolute;left:82%;top:150px}
#main #time-detail ul li .time{
    position:absolute;
    top:-20px;
}
#main #time-detail ul li .grow{
    margin-top: 20px;
}
#main #setTab{
    height: 600px;
}
.wrap .tab_nav li {
    float: left;
    margin: 0 -15px 0 0;
}
.wrap .tab_nav li a{
    float: left;
    position: relative;
    padding: 0 40px;
    height: 0;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-right: 30px solid transparent;
    /*border-bottom: 30px solid rgba(30,144,255,0.5);*/
    border-bottom: 30px solid rgba(55,55,55,0.5);
}
.wrap .tab_nav li a:hover,.wrap .tab_nav li a:focus{
    border-bottom: 30px solid rgba(30,144,255,0.8);
}
.tab_div div {
    display: none;
    padding: 10px;
}
.tab_div {
    text-align: left;
    height: 200px;
    clear: both;
}
#main #now,#main #done{
    padding: 2em 2em;
    margin-bottom:1em;
    background-color: white;
    box-shadow:5px 5px 5px rgb(221,221,221);
}
#main .works h1,#aside h1,#main .hr h1{
    margin-bottom: 1em;
    padding-left: 1em;
    font-size:1em;
    /*font-weight: bolder;*/
    /*color: rgb(255,68,102);*/
    color: rgb(51,51,51);
    border-left: 3px solid rgb(225,68,102);
}
#main .hr{
     background-color: white;
     padding: 2em;
     /*margin-bottom: -10px;*/
 }
#main .works hr,#main .hr hr{
    width:100%;
}
#main .works .info{
    margin-left: 0.2em;
    display: block;
    border-bottom: 1px dashed rgb(221,221,221);
}
#main .works .details li{
    width: 70%;
    margin: 0.9em 0;
}
#main .works .details li:first-child{
    font-size: 1.1em;
    color:dodgerblue;
}
#main .works .details li:not(first-child),#main .works .details li:not(first-child) span{
    float: left;
    font-size: 0.9em;
    color: #5d5d5d;
}
#main .works .details li:not(first-child) span{
    padding: 0 1.2em 0 0;
}
#main .works .details li .money{
    color: rgb(255,68,102);
}
#main .works .remark{
    margin-top: 0.8em;
    margin-left: -0.8em;
    font-size: 0.8em;
    color: #5d5d5d;
}
#main .works .remark textarea{
     vertical-align: text-top;
     height: 8em;
     width:30em;
 }
#main .works .remark input{
    margin: 1em 2.5em;
    padding: 0.4em 0.8em;
    background-color: rgba(255,68,102,0.9);
    outline: none;
    border: none;
    color: white;
}
#main .works .progress li{
    display: inline-block;
    padding: 0.5em 1em ;
    margin: 0.8em 0;
    font-family: "微软雅黑 Light";
    font-size: 0.8em;
    background-color: dodgerblue;
    color: white;
    border: 1px solid rgb(221,221,221);
    border-radius: 20px;
}
#main #now .progress li:nth-child(3){
    background:none;
    color: dodgerblue;
}

#aside {
    width:32%;
    margin-left: 2%;
    margin-bottom: 2em;
    padding:2em ;
    background-color: white;
}
#aside hr{
    width: 100%;
}
#aside form p{
    padding: 1em 1em;
    margin: auto 10%;
    font-size:0.9em;
    color: rgba(51,51,51,0.8);
}
#aside form p span{
    color: rgb(51,51,51);
}
#aside form .submit{
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 2em 30%;
    font-size: 1em;
    border:1px solid rgb(255,68,102);
    border-radius: 10px;
    outline: none;
    background-color:rgb(255,68,102) ;
    color: white;
}
#aside form p input,#main form p select{
    padding: 0.7em;
    border: 1px solid rgb(200,200,200);
    border-radius: 3px;
}
#aside form p textarea{
    vertical-align: text-top;
}
