<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>西柚易兼职-我的兼职</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="short icon" type="image/x-icon" href="img/logo.png"/>
    <link href="css/public.css" rel="stylesheet"/>
    <link type="text/css" href="css/my-work.css" rel="stylesheet"/>
</head>
<body id="wrapper">
<!-- S #header -->
<!--<p class="yiban">易班 非同一般</p>-->
<br/> <br/>
<header id="header">
    <div id="logo">
        <img src="img/logo.png" alt="logo"/>
        <img src="img/fun-part-time.png" alt="fun-part-time"/>
    </div>
    <div id="publish">
        <ul>
            <li><a href="index.html" target="_blank">再回首页看看</a></li>
        </ul>
    </div>
</header>
<!-- E #header -->
<section id="container">
        <main id="main">

            <div id="now" class="works">
                <h1>我现在在做的兼职</h1>
                <hr/>
                <ul >
                    <ul class="details">
                        <li>婚庆服务工作室兼职直接招募</li>
                        <li>锦江区红妆婚庆服务工作室</li>
                        <li>
                            <span>锦江</span>
                            <span> 周末/平时/假期 </span>
                            <span class="money"> 100元/天 </span>
                        </li>
                    </ul>
                    <ul class="progress">
                        <li>已领取</li><br/>
                        <li>未完工</li><br/><br/><br/><br/>
                    </ul>
                    <li>评价:
                        <textarea  id="remark-content" placeholder="说点什么吧！"></textarea><br/>
                        <input  type="submit"/>
                    </li>
                </ul>
            </div>
            <div id="done" class="works">
                <h1>我做过的兼职</h1>
                <ul >
                    <ul class="details">
                        <li>元祖蛋糕 临时工招募</li>
                        <li>成都亮展商务服务有限公司</li>
                        <li>
                            <span>青羊</span>
                            <span>  3月27日 </span>
                            <span class="money"> 150元/天 </span>
                        </li>
                    </ul>
                    <ul class="progress">
                        <li>已领取</li><br/>
                        <li>已完工</li><br/>
                        <li>已结资</li><br/>
                    </ul>
                    <li>评价 : 按时结算工资，兼职虽然比较辛苦，但是我也学到了很多。同事也都非常照顾我。
                    </li>
                </ul>
            </div>
        </main>
        <aside id="aside">
            <h1>我的个人信息</h1>
            <hr/>
            <form method="get" action="">
                <p>我的学号 : <span>201531012301</span></p>
                <p>我的姓名 : <span>项昊</span></p>
                <p>我的专业 : <span>计算机科学</span></p>
                <p>工作区域 : <span>全成都</span></p>
                <p>联系电话 : <span>183 2030 5412</span></p>
                <p>兼职种类 : <span>任意种类</span></p>
                <p>兼职薪酬 : <span>100元/天</span></p>
                <p>工作时间 : <span>周末、假期</span></p>
                <p>特别要求 :  <span>无</span></p>
                <a href="release-resume.html" target="_blank" class="submit">修改</a>
            </form>
        </aside>

</section>
<!-- pages -->

<!-- S #footer -->
<footer id="footer">
    <address>
        <p>©CopyRight 2017-2027 FUN part-time Inc All Rights Reserved.</p>
        <p><span>版权所有</span>西柚易兼职</p>
    </address>
</footer>
<!-- E #footer -->
</body>
</html>