<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>西柚易兼职-发布兼职信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" charset="utf-8" src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <link rel="short icon" type="image/x-icon" href="img/logo.png"/>
    <link href="css/public.css" rel="stylesheet"/>
    <link type="text/css" href="css/release.css" rel="stylesheet"/>
</head>
<body id="wrapper">
<!-- S #header -->
<!--<p class="yiban">易班 非同一般</p>-->
<br/> <br/>
<header id="header">
    <div id="logo">
        <img src="img/logo.png" alt="logo"/>
        <img src="img/fun-part-time.png" alt="fun-part-time"/>
    </div>
    <div id="publish">
        <ul>
            <li><a href="/index" target="_self">再回首页看看</a></li>
        </ul>
    </div>
</header>
<!-- E #header -->
<section id="container">
    <p class="note">要如实填写信息喔！好让我们的宝宝快快来帮你！</p>
    <main id="main">
        <h1>发布兼职信息</h1>
        <hr/>
        <form method="post" action="/pushWanted" onsubmit="return submitForm();">
            <p> <span class="necessary"> * </span>发布单位 : <input type="text" placeholder="请输入公司名称" required="required" name="groupName"/></p>
            <p><span class="necessary"> * </span>工作区域 :
                <select name="location" placeholder="请选择工作区域">
                    <option value="请选择工作区域">请选择工作区域</option>
                    <option value="武侯">武侯</option>
                    <option value="金牛">金牛</option>
                    <option value="锦江">锦江</option>
                    <option value="青羊">青羊</option>
                    <option value="高新">高新</option>
                    <option value="成华">成华</option>
                    <option value="双流">双流</option>
                    <option value="新都">新都</option>
                    <option value="温江">温江</option>
                    <option value="都江堰">都江堰</option>
                    <option value="彭州">彭州</option>
                    <option value="新津">新津</option>
                    <option value="大邑">大邑</option>
                    <option value="金堂">金堂</option>
                    <option value="浦江">浦江</option>
                    <option value="邛崃">邛崃</option>
                    <option value="高新西区">高新西区</option>
                    <option value="天府新区">天府新区</option>
                </select>
            </p>
            <p><span class="necessary"> * </span>详细地址 : <input name="locationDetail" type="text" placeholder="请输入详细地址" required="required"/></p>
            <p><span class="necessary"> * </span>联系电话 : <input name="phone" type="text" placeholder="请输入发布者联系电话" required="required"/></p>
            <p><span class="necessary"> * </span>兼职种类 :
                <select name="kind">
                    <option value="请选择兼职种类">请选择兼职种类</option>
                    <option value="传单派发">传单派发</option>
                    <option value="家教">家教</option>
                    <option value="促销/导购">促销/导购</option>
                    <option value="服务员">服务员</option>
                    <option value="展会活动">展会活动</option>
                    <option value="翻译兼职">翻译兼职</option>
                    <option value="摄影兼职">摄影兼职</option>
                    <option value="打字员">打字员</option>
                    <option value="淘宝客服">淘宝客服</option>
                    <option value="其他兼职">其他兼职</option>
                </select></p>
            <p><span class="necessary"> * </span>兼职内容 : <input name="title" type="text" placeholder="请输入兼职内容"/></p>
            <p><span class="necessary"> * </span>兼职薪酬 : <input name="reward" type="text" placeholder="请输入薪酬" required="required"/></p>
            <p><span class="necessary"> * </span>需要人数 : <input name="number" type="text" placeholder="请输入人数（阿拉伯数字）" required="required"/></p>
            <p>兼职详述 : <textarea name="text" placeholder="请输入兼职信息详述" wrap="hard" cols="40" rows="5"></textarea></p>
            <p>特别要求 : <textarea name="extra" placeholder="请输入兼职信息详述" wrap="hard" cols="40" rows="5"></textarea></p>
            <button type="submit" class="submit" style="display:inline-block">发布信息</button>
            <!--<input type="submit" value="发布信息" class="submit"/>-->
        </form>
    </main>
</section>
<!-- pages -->

<!-- S #footer -->
<footer id="footer">
    <address>
        <p>©CopyRight 2017-2027 FUN part-time Inc All Rights Reserved.</p>
        <p><span>版权所有</span>西柚易兼职</p>
    </address>
</footer>
<!-- E #footer -->
</body>
<script>
    var submitForm=function () {
        $("form").ajaxSubmit(function (message) {
            alert(message.text);
            window.location.href="/index";
        });
        return false;
    }

</script>
</html>