<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>西柚易兼职-发布简历</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="short icon" type="image/x-icon" href="img/logo.png"/>
    <link href="css/public.css" rel="stylesheet"/>
    <link type="text/css" href="css/release.css" rel="stylesheet"/>
</head>
<body id="wrapper">
<!-- S #header -->
<!--<p class="yiban">易班 非同一般</p>-->
<br/> <br/>
<header id="header">
    <div id="logo">
        <img src="img/logo.png" alt="logo"/>
        <img src="img/fun-part-time.png" alt="fun-part-time"/>
    </div>
    <div id="publish">
        <ul>
            <li><a href="index1.html" target="_self">再回首页看看</a></li>
        </ul>
    </div>
</header>
<!-- E #header -->
<section id="container">
    <p class="note">完善一下信息吧！早日找到好工作！Yeah </p>
        <main id="main">
            <h1>完善个人信息</h1>
            <hr/>
            <form method="get" action="">
                <p><span class="necessary"> * </span>我的学号 : <input type="text" placeholder="201531012301" disabled="disabled"/></p>
                <p><span class="necessary"> * </span>我的姓名 : <input type="text" placeholder="项昊" disabled="disabled"/></p>
                <p><span class="necessary"> * </span>我的专业 : <input type="text" placeholder="计算机科学" disabled="disabled"/></p>
                <p><span class="necessary"> * </span>工作区域 :
                    <select>
                        <option value="请选择意向工作区域">  </option>
                        <option value="武侯">武侯</option>
                        <option value="金牛">金牛</option>
                        <option value="锦江">锦江</option>
                        <option value="青羊">青羊</option>
                        <option value="高新">高新</option>
                        <option value="成华">成华</option>
                        <option value="双流">双流</option>
                        <option value="新都">新都</option>
                        <option value="温江">温江</option>
                        <option value="都江堰">都江堰</option>
                        <option value="彭州">彭州</option>
                        <option value="新津">新津</option>
                        <option value="大邑">大邑</option>
                        <option value="金堂">金堂</option>
                        <option value="浦江">浦江</option>
                        <option value="邛崃">邛崃</option>
                        <option value="高新西区">高新西区</option>
                        <option value="天府新区">天府新区</option>
                    </select>
                </p>
                <p><span class="necessary"> * </span>联系电话 : <input type="text" placeholder="输一下电话号码呗"/></p>
                <p><span class="necessary"> * </span>兼职种类 :
                    <select>
                        <option value="传单派发"></option>
                        <option value="传单派发">传单派发</option>
                        <option value="家教">家教</option>
                        <option value="促销/导购">促销/导购</option>
                        <option value="服务员">服务员</option>
                        <option value="展会活动">展会活动</option>
                        <option value="翻译兼职">翻译兼职</option>
                        <option value="摄影兼职">摄影兼职</option>
                        <option value="打字员">打字员</option>
                        <option value="淘宝客服">淘宝客服</option>
                        <option value="其他兼职">其他兼职</option>
                </select></p>
                <p><span class="necessary"> * </span>兼职薪酬 : <input type="text" placeholder="输一下意向入薪酬呗"/></p>
                <p><span class="necessary"> * </span>工作时间 : <input type="text" placeholder="输一下意向入工作时间呗"/></p>
                <p>特别要求 : <textarea placeholder="特别要求" wrap="hard" cols="40" rows="5"></textarea></p>
                <input type="submit" placeholder="保存" class="submit"/>
            </form>
        </main>
</section>
<!-- pages -->

<!-- S #footer -->
<footer id="footer">
    <address>
        <p>©CopyRight 2017-2027 FUN part-time Inc All Rights Reserved.</p>
        <p><span>版权所有</span>西柚易兼职</p>
    </address>
</footer>
<!-- E #footer -->
</body>
</html>