<!DOCTYPE html>
<html lang="en" ng-app="changeInfoApp" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>西柚易兼职-发布简历</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="short icon" type="image/x-icon" href="img/logo.png"/>
    <script src="//cdn.bootcss.com/angular.js/1.5.5/angular.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" charset="utf-8" src="js/query.form.js"></script>-->
    <link href="css/public.css" rel="stylesheet"/>
    <link type="text/css" href="css/release.css" rel="stylesheet"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var app=angular.module("changeInfoApp",[]);
        app.controller("infoCtrl",function ($scope, $http) {
            $scope.myInfo=[[${myInfo}]];
            $scope.init=function () {
                $("#location").val($scope.myInfo.location);
                $("#kind").val($scope.myInfo.kind);
            };
            $scope.init();


        });
        /*]]>*/
    </script>

</head>
<body id="wrapper" ng-controller="infoCtrl">
<!-- S #header -->
<!--<p class="yiban">易班 非同一般</p>-->
<br/> <br/>
<header id="header">

    <div id="logo">
        <img src="img/logo.png" alt="logo"/>
        <img src="img/fun-part-time.png" alt="fun-part-time"/>
    </div>
    <div id="publish">
        <ul>
            <li><a href="/index" target="_self">再回首页看看</a></li>
        </ul>
    </div>
</header>
<!-- E #header -->
<section id="container">
    <p class="note">完善一下信息吧！早日找到好工作！Yeah </p>
        <main id="main">
            <h1>完善个人信息</h1>
            <hr/>
            <form method="post" action="/pushMyInfo" onsubmit="return submitChange();">
                <p><span class="necessary"> * </span>我的学号 : <input name="stuId" type="text" placeholder="{{myInfo.stuId}}" disabled="disabled" value="{{myInfo.stuId}}"/></p>
                <p><span class="necessary"> * </span>我的姓名 : <input type="text" placeholder="{{myInfo.name}}" disabled="disabled"/></p>
                <p><span class="necessary"> * </span>我的专业 : <input type="text" placeholder="{{myInfo.profession}}" disabled="disabled"/></p>
                <p><span class="necessary"> * </span>工作区域 :
                    <select id="location" name="location">
                        <option value="请选择意向工作区域">  </option>
                        <option value="武侯">武侯</option>
                        <option value="金牛">金牛</option>
                        <option value="锦江">锦江</option>
                        <option value="青羊">青羊</option>
                        <option value="高新">高新</option>
                        <option value="成华">成华</option>
                        <option value="双流">双流</option>
                        <option value="新都">新都</option>
                        <option value="温江">温江</option>
                        <option value="都江堰">都江堰</option>
                        <option value="彭州">彭州</option>
                        <option value="新津">新津</option>
                        <option value="大邑">大邑</option>
                        <option value="金堂">金堂</option>
                        <option value="浦江">浦江</option>
                        <option value="邛崃">邛崃</option>
                        <option value="高新西区">高新西区</option>
                        <option value="天府新区">天府新区</option>
                    </select>
                </p>
                <p><span class="necessary"> * </span>联系电话 : <input name="phone" type="text" placeholder="{{myInfo.phone}}" value="{{myInfo.phone}}"/></p>

                <p><span class="necessary"> * </span>兼职种类 :
                    <select id="kind" name="kind">
                        <option value="传单派发"></option>
                        <option value="传单派发">传单派发</option>
                        <option value="家教">家教</option>
                        <option value="促销/导购">促销/导购</option>
                        <option value="服务员">服务员</option>
                        <option value="展会活动">展会活动</option>
                        <option value="翻译兼职">翻译兼职</option>
                        <option value="摄影兼职">摄影兼职</option>
                        <option value="打字员">打字员</option>
                        <option value="淘宝客服">淘宝客服</option>
                        <option value="其他兼职">其他兼职</option>
                </select></p>
                <p><span class="necessary"> * </span>兼职薪酬 : <input name="reward" type="text" placeholder="{{myInfo.reward}}" value="{{myInfo.reward}}"/></p>
                <p><span class="necessary"> * </span>工作时间 : <input name="workTime" type="text" placeholder="{{myInfo.workTime}}" value="{{myInfo.workTime}}"/></p>
                <p>特别要求 : <textarea name="extra" placeholder="{{myInfo.extra}}" wrap="hard" cols="40" rows="5">{{myInfo.extra}}</textarea></p>
                <input type="submit" value="提交" class="submit"/>
            </form>
        </main>
</section>
<!-- pages -->

<!-- S #footer -->
<footer id="footer">
    <address>
        <p>©CopyRight 2017-2027 FUN part-time Inc All Rights Reserved.</p>
        <p><span>版权所有</span>西柚易兼职</p>
    </address>
</footer>
<!-- E #footer -->
</body>
<script>
    var submitChange=function () {
        $("form").ajaxSubmit(function (message) {
            alert(message.text);
            window.location.href="/index";
        });
        return false;
    }
</script>
</html>