<!DOCTYPE html>
<html lang="en" ng-app="wordDApp" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>西柚易兼职-领取兼职</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="short icon" type="image/x-icon" href="../img/logo.png"/>
    <script src="//cdn.bootcss.com/angular.js/1.5.5/angular.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/jquery-1.11.0.min.js"></script>
    <script  type="text/javascript">
        $(function () {
            $("#get").click(function () {
                $("#get").attr("value","√ 已领取");
                $("#total").innerHTML();
            })
        })
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var app=angular.module("wordDApp",[]);
        app.controller("workDCtrl",function ($scope, $http) {
            $scope.job=[[${job}]]
        })
        /*]]>*/
    </script>
    <link href="../css/public.css" type="text/css" rel="stylesheet"/>
    <link type="text/css" href="../css/work-details.css" rel="stylesheet"/>
</head>
<body id="wrapper" ng-controller="workDCtrl">
<!-- S #header -->
<!--<p class="yiban">易班 非同一般</p>-->
<br/> <br/>
<header id="header">
    <div id="logo">
        <img src="../img/logo.png" alt="logo"/>
        <img src="../img/fun-part-time.png" alt="fun-part-time"/>
    </div>
    <div id="publish">
        <ul>
            <li><a href="my-work.html" target="_blank">我的兼职小屋</a></li>
            <li><a href="index.html" target="_blank">再去首页看看</a></li>
        </ul>
    </div>
</header>
<!-- E #header -->
<section id="container">
    <p class="note"></p>
    <main id="main">
        <input type="submit" id="get" value="我要领取"/>
        <ul>
            <li><h1>{{job.title}}</h1></li>
            <li><span>公司名称：</span>{{job.groupName}}</li>
            <li class="important-info"><span>兼职薪酬：</span>{{job.reward}}</li>
            <li><span>详细地址：</span>{{job.locationDetail}}</li>
            <li><span>所在区域：</span>{{job.location}}</li>
            <li class="important-info"><span>联系电话：</span>{{job.phone}}</li>
            <li><span>总需人数：</span>{{job.number}}人<span>剩余量：</span>{{job.needNumber}}人</li>
            <li>兼职详述：<span>
                {{job.text}}
                </span>
            </li>
            <li>特别要求：<span>
                {{job.extra}}
            </span>
            </li>
        </ul>
    </main>
    <aside id="aside">
        <div id="partner">
            <p class="slogan"><img src="../img/伙伴管理.png"/>联系小伙伴
            <span class="prompt">(下面的小伙伴也领取了该兼职 联系TA一起去吧）</span>
            </p>
            <ul>
                <li class="person">
                    <ul>
                        <li class="name">程曦</li>
                        <li class="motto">既然选择了远方，便只顾风雨兼程</li>
                        <div>
                            <li class="department">石油工程</li>
                            <li class="tel">156 2325 2415</li>
                        </div>
                    </ul>
                </li>
                <li class="person">
                    <ul>
                        <li class="name">李浩</li>
                        <li class="motto">一直努力再努力</li>
                        <div>
                            <li class="department">海油工程</li>
                            <li class="tel">187 2251 2355</li>
                        </div>
                    </ul>
                </li>
                <li class="person">
                    <ul>
                        <li class="name">吴丽</li>
                        <li class="motto">相信自己 可以的</li>
                        <div>
                            <li class="department">人力资源</li>
                            <li class="tel">157 0812 5965</li>
                        </div>
                    </ul>
                </li>
                <li class="person">
                    <ul>
                        <li class="name">周晓</li>
                        <li class="motto">因我不凡</li>
                        <div>
                            <li class="department">信息管理</li>
                            <li class="tel">158 6542 2351</li>
                        </div>
                    </ul>
                </li>
                <li class="person">
                    <ul>
                        <li class="name">刘笑而</li>
                        <li class="motto">生活充满诗和远方</li>
                        <div>
                            <li class="department">信息管理</li>
                            <li class="tel">159 6672 2851</li>
                        </div>
                    </ul>
                </li>
                <li class="person">
                    <ul>
                        <li class="name">曾可</li>
                        <li class="motto">宁静而致远</li>
                        <div>
                            <li class="department">会计学</li>
                            <li class="tel">183 7575 2625</li>
                        </div>
                    </ul>
                </li>
            </ul>



        </div>

        <div id="tips">
            <p class="slogan"><img src="../img/warning.png" alt="warning"/>兼职小贴士</p>
            <ul>
                <li>1.合理安排自己的兼职时间噢！学习兼职两不误</li>
                <li>2.选择适合自己的兼职噢！让努力不白费</li>
                <li>3.任何工作都不比安全重要噢！保护好自己</li>
            </ul>
        </div>
    </aside>
</section>
<!-- pages -->

<!-- S #footer -->
<footer id="footer">
    <address>
        <p>©CopyRight 2017-2027 FUN part-time Inc All Rights Reserved.</p>
        <p><span>版权所有</span>西柚易兼职</p>
    </address>
</footer>
<!-- E #footer -->
</body>
</html>